/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
  @font-face {
      font-family: "font_roboto_bold";
      src: url("../../font/roboto_bold.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 1024px) and (max-width: 1400px) {
*  {margin: auto; padding: 0;}
  input, label {
    display: none;
  }
body {
  background: #090921;
}
/*---BARRA DE NAVEGACION--*/
#barra_navegacion {
  width: 100%;
  height: 70px;
  padding-left: 10%;
  padding-right: 12%;
  background-color: #090921;
  position: fixed;
  box-shadow: 2px 2px 5px #090921;
}
   .barra_navegacion {
    width: 85%;
    height: 70px;
  }
  .icon_nav {
    width: 150px;
    height: 60px;
    margin-left: 5%;
    margin-top: 10px;
    float: left;
  }
  .icon_nav img {
    height: 40px;
    margin: 10px;
  }
  .respmenu {
    float: right;
    width: 400px;
    height: 30px;
    margin-right: 20%;
    margin-top: 25px;
  }

  nav ul li{
    margin-right: 30px;
    padding-bottom: 8px;
    display: inline-block;
  }
      nav ul li:hover {
        background: url('../../img/header/nav/barra_nav.png') no-repeat;
        background-position: bottom;
        background-size: 100% 4px;
        transition: 0.7s;
      }
  nav ul li a {
    color: #fff;
    font-family: "font_sans";
    font-size: 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s;
  }
      nav ul li a:hover {
        transition-duration: 0.7s;
        transition: color 0.7s;
      }
/*----------------------*/

/*-------CONTAME---------*/

 #contactame {
   width: 100%;
   height: auto;
   padding-top: 80px;
 }
 .contactame {
   width: 100%;
   height: auto;
   padding-top: 30px;
   padding-bottom: 30px;
 }
 .titulo_contactame {
   width: 80%;
   height: 50px;
   padding-bottom: 30px;
   margin-bottom: 50px;
 }
  .titulo_contactame h1 {
    font-family: "font_sans";
    font-size: 4rem;
    color: #F23041;
  }

  #color2 {
    background-color: #1B0126;
  }
  .info_contactame {
    width: 80%;
    height: 400px;
    padding: 20px;
    display: flex;
  }
    .img_contactame {
      width: 250px;
      height: 250px;
      margin: 30px;
      background: url('../../img/contacto/avatar.png') no-repeat;
      background-size: 100% auto;
    }

  .links_contactame {
    width: 600px;
    height: auto;
    margin: 20px;
    display: flex;
  }

  .escribeme_contactame, .redes_contactame {
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
  }
  #titulo_links h2{
    font-family: "font_sans";
    font-size: 1.2rem;
    color: #FFF;
    display: block;
    margin-bottom: 50px;
  }

  .linea_links {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 5px;
    border-radius: 50px;
  }
      .linea_links:hover {
        background-color: #56BFAC;
        border-radius: 25px;
        transition: 0.7s;
      }
      .linea_links a {
        text-decoration: none;
      }

    #icon_linea {
      width: 40px;
      height: 40px;
      float: left;
      margin-top: 5px;
    }
      #icon_linea img {
        width: 40px;
        height: 40px;
      }
    .text_linea {
      width: 150px;
      height: 35px;
      margin-left: 40px;
      padding-left: 10px;
      padding-top: 15px;
    }
      .text_linea p {
        font-family: "font_roboto_bold" ;
        font-size: 1rem;
        color: #F23041;
      }

 .vitae_contactame {
   width: 80%;
   height: auto;
 }
  .botton_vitae {
    width: 230px;
    height: 60px;
    margin: 30px;
    padding: 20px;
    padding-right: 40px;
    background-color: #F23041;
    border-radius: 50px;
    transition: 0.7s;
  }
    a {
      text-decoration: none;
    }
    .botton_vitae h2 {
      font-family: "font_sans";
      font-size: 1.4rem;
      color: #FFF;
      text-align: center;
      float: left;
      display: block;
      margin-left: 19px;
    }
    .botton_vitae img {
      width: 40px;
      height: 40px;
      margin-top: 10px;
      float: right;
    }

    .botton_vitae:hover {
      background-color: #56BFAC;
      transition: 0.7s;
    }


/*----------FOOTER---------*/

#footer {
  width: 100%;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #090921;
}
.footer {
  width: 80%;
  height: 300px;
}
.icon_footer {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}
    .icon_footer img {
      width: auto;
      height: 50px;
    }
.columnas_footer {
  width: auto;
  height: 250px;
  padding-right: 50px;
  float: right;
  display: inline-flex;
}
  .columnas_footer a {
    text-decoration: none;
  }
.columna {
  width: 200px;
  height: auto;
  margin: 15px;
  padding: 15px;
}
  .columna h1 {
    font-family: "font_roboto_bold";
    font-size: 1rem;
    color: #fff;
    display: block;
    margin-bottom: 15px;
  }
  .columna p {
    font-family: "font_roboto";
    font-size: 0.8rem;
    color: #fff;
    line-height: 1rem;
    display: block;
    padding-top: 4px;
  }

  .contendor_fila {
    width: auto;
    height: 25px;
    padding-left: 35px;
    margin: 5px;
  }

  .contendor_fila div {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: -40px;
    background-position: center;
    background-size: 100% 100%;
  }
    .contendor_fila div:hover{
      background-color: #F23041;
      border-radius: 100%;
    }
  .icon_contacto_em {
    background: url('../../img/footer/mail.png') no-repeat;
  }
  .icon_contacto_wha {
    background: url('../../img/footer/wha.png') no-repeat;
  }
  .icon_contacto_ins {
    background: url('../../img/footer/ins.png') no-repeat;
  }
  .icon_contacto_be {
    background: url('../../img/footer/be.png') no-repeat;
  }
  .icon_contacto_fa {
    background: url('../../img/footer/face.png') no-repeat;
  }
  .icon_contacto_gi {
    background: url('../../img/footer/gi.png') no-repeat;
  }
/*----------------------*/
}
