/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
  @font-face {
      font-family: "font_roboto_bold";
      src: url("../../font/roboto_bold.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 1024px) and (max-width: 1400px) {
* {margin: 0; padding: 0;}
  input, label {
    display: none;
  }
body {
  background: #090921;
}
/*---BARRA DE NAVEGACION--*/
#barra_navegacion {
  width: 100%;
  height: 70px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #090921;
  position: fixed;
  box-shadow: 2px 2px 5px #090921;
}
   .barra_navegacion {
    width: 85%;
    height: 70px;
  }
  .icon_nav {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    margin-top: 10px;
    float: left;
  }
  .icon_nav img {
    height: 50px;
  }
  .respmenu {
    float: right;
    width: 400px;
    height: 30px;
    margin-right: 10%;
    margin-top: 25px;
  }

  nav ul li{
    margin-right: 30px;
    padding-bottom: 8px;
    display: inline-block;
  }
      nav ul li:hover {
        background: url('../../img/header/nav/barra_nav.png') no-repeat;
        background-position: bottom;
        background-size: 100% 4px;
        transition: 0.7s;
      }
  nav ul li a {
    color: #fff;
    font-family: "font_sans";
    font-size: 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s;
  }
      nav ul li a:hover {
        transition-duration: 0.7s;
        transition: color 0.7s;
      }

/*-----------*/
}
