/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

* {
	margin: auto;
	padding: 0;
}
body {
  background-color: #090921;
}

/*-------BARRA DE NAVEGACION-------*/

	#barra_navegacion {
	  background-color: #090921;
	  width: 100%;
	  height: 90px;
	  position: fixed;
    padding: 5px;
	}
	.icon_nav {
	  float: left;
    width: 60px;
    height: 50px;;
	  position: absolute;
    margin-left: 30px;
	}
	.icon_nav img {
	  width: 150px;
	  height: auto;
	 }
   label {
     display: block;
     margin-top: 15px;
     margin-left: 90%;
    }
	.respmenu label img {
	  width: 50px;
	  height: auto;
	}
	.respmenu {
	  width: 100%;
	}
	.respmenu a {
	  color: #fff;
	  text-decoration: none;
    text-align: right;
	  display: block;
	  padding: 30px 40px;
	  max-width: 200px;
	  font-family: "font_sans";
	}
	.respmenu a:hover {
	  color: #190022;
	}
	.respmenu {
	  transition: checked 3.0s;
	}
	.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
	  position: absolute;
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	  right: 0;
	  top: 0;
	  width: 48px;
	  height: 48px;
	}
	.respmenu .fa-bars, .respmenu .fa-times {
	  font-size: 48px;
	  pointer-events: none;
	}
	.respmenu input[type="checkbox"] {
	  opacity: 0;
	}
	.respmenu {
	  color: #00181C;
	  position: relative;
	  min-height: 50px;
	}
	nav ul {
	  background-color: #090921;
	}
	nav ul li:hover {
	  background-color: #F23041;
	}
	nav ul li:hover {
	  transition: color 1.8s;
	}
	.respmenu nav {
	  display: none;
	}
	.respmenu input:checked ~ nav {
	  display: block;
	}
	.respmenu input:checked ~ .fa-bars {
	  display: none;
	}
	.respmenu input:not(:checked) ~ .fa-times {
	  display: none;
	}

/*------------------------*/
  #trabajos {
    width: 100%;
    height: auto;
    padding-top: 80px;
  }
  .trabajos {
    width: 90%;
    height: auto;
    padding-bottom: 40px;
  }
    .titulo_trabajos {
      width: 100%;
      height: 50px;
      margin-bottom: 30px;
    }
      .titulo_trabajos h1{
        font-family: "font_sans";
        font-size: 2rem;
        color: #F23041;
      }
#caja_trabajo {
  width: 190px;
  height: 240px;
  padding: 5px;
  margin: 3px;
  display: inline-flex;
  background-color: #1B0126;
}
    #caja_trabajo a {
      text-decoration: none;
    }

  #img_hover_trabajo:hover {
    background-position: center;
    background-size: 100% 100%;
    transition: 0.7s;
  }

  #img_hover_trabajo {
    width: 180px;
    height: 180px;
    background-color: #1B0126;
    background-position: center;
    background-size: 100% 100%;
    transition: 0.7s;
  }
  .titulo_caja_trabajo {
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "font_sans";
    font-size: 0.8rem;
    color: #56BFAC;
  }
  .descripcion_caja_trabajo {
    font-family: "font_roboto";
    font-size: 0.6rem;
    color: #FFF;
    padding-left: 5px;
  }

.img_caja_garabato {
background: url('../../img/portafolio/garabato.png') no-repeat;
}
  .img_caja_garabato:hover {
    background: url('../../img/portafolio/garabato2.png') no-repeat;
  }

.img_caja_filbo {
background: url('../../img/portafolio/filbo.png') no-repeat;
}
  .img_caja_filbo:hover {
    background: url('../../img/portafolio/filbo2.png') no-repeat;
  }

.img_caja_mano {
background: url('../../img/portafolio/mano.png') no-repeat;
}
  .img_caja_mano:hover {
    background: url('../../img/portafolio/mano2.png') no-repeat;
  }
.img_caja_comic {
background: url('../../img/portafolio/comic.png') no-repeat;
}
  .img_caja_comic:hover {
    background: url('../../img/portafolio/comic2.png') no-repeat;
  }

.img_caja_mano {
background: url('../../img/portafolio/mano.png') no-repeat;
}
  .img_caja_mano:hover {
    background: url('../../img/portafolio/mano2.png') no-repeat;
  }

.img_caja_lata {
background: url('../../img/portafolio/lata.png') no-repeat;
}
  .img_caja_lata:hover {
    background: url('../../img/portafolio/lata2.png') no-repeat;
  }

.img_caja_brutal {
background: url('../../img/portafolio/brutal.png') no-repeat;
}
  .img_caja_brutal:hover {
    background: url('../../img/portafolio/brutal2.png') no-repeat;
  }

.img_caja_wild {
background: url('../../img/portafolio/wild.png') no-repeat;
}
  .img_caja_wild:hover {
    background: url('../../img/portafolio/wild2.png') no-repeat;
  }
/*----PROYECTOS----*/

#proyectos {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1B0126;
}
.proyectos {
  width: 90%;
  height: auto;
}
  .titulo_proyectos {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
  }
    .titulo_proyectos h1 {
      font-family: "font_sans";
      font-size: 2rem;
      color: #F23041;
    }
  .contenedor_proyecto {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
    .titulo_proyecto {
      width: 100%;
      height: 30px;
    }
      .titulo_proyecto h2 {
        font-family: "font_sans";
        font-size: 1.5rem;
        color: #56BFAC;
      }
    .texto_proyecto {
      padding: 10px;
      width: auto;
      height: auto;
    }
      .texto_proyecto p {
        font-family: "font_roboto";
        font-size: 0.8rem;
        color: #FFF;
        line-height: 1.5rem;
      }
/*----------FOOTER---------------*/
#footer {
  width: 100%;
  height: 280px;
  padding-top: 100px;
  background-color: #090921;
}
  .footer {
    width: 80%;
    height: auto;
  }
    .icon_footer {
      width: 100%;
      height: 50px;
    }
      .icon_footer img {
        width: 110px;
        height: auto;
      }
  .columna h1 {
    display: none;
  }
  .text_servicios p{
    display: none;
  }

  .columnas_footer {
    width: 90%;
    height: auto;
    display: flex;
  }
  .columna {
    width: 45%;
    height: 300px;
    margin-top: 20px;
    margin-right: 50px;
  }
  .contendor_fila {
    width: 90px;
    height: 35px;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
  }
  .contendor_fila p {
    display: block;
    padding-top: 3px;
    font-family: "font_roboto" ;
    font-size: 1rem;
    color: #FFF;
  }

  .contendor_fila div {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: -30px;
    background-position: center;
    background-size: 100% 100%;
  }
    .contendor_fila div:hover{
      background-color: #F23041;
      border-radius: 100%;
    }
  .icon_contacto_em {
    background: url('../../img/footer/mail.png') no-repeat;
  }
  .icon_contacto_wha {
    background: url('../../img/footer/wha.png') no-repeat;
  }
  .icon_contacto_ins {
    background: url('../../img/footer/ins.png') no-repeat;
  }
  .icon_contacto_be {
    background: url('../../img/footer/be.png') no-repeat;
  }
  .icon_contacto_fa {
    background: url('../../img/footer/face.png') no-repeat;
  }
  .icon_contacto_gi {
    background: url('../../img/footer/gi.png') no-repeat;
  }









/*-------------------------------------*/
}
